
body{
    background-color: darkseagreen;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;  
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#center{
    text-align: center;
}
.topnav {
    background-color: darkseagreen;
    overflow: hidden;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
    border-color: #001d12;
    border-style: solid;

  }

  .topnav a {
    float: left;
    display: float;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    align-items: center;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #001d12;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

#map {
    height: 400px;
    width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #001d12;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container{
    position:relative;
    width: 100%;
    height:300px;
    overflow:hidden;
}

  